%%-*- mode: erlang -*-
%% ex: ft=erlang
% uncomment if appropriate
%{deps_dir, "deps"}.

{sub_dirs, ["rel"]}.


{deps, [
    {jiffy, ".*", {git, "https://github.com/davisp/jiffy.git", {branch, master}}},
    {jesse, "", {git, "https://github.com/for-GET/jesse.git", {branch, master}}},
    {lager, "", {git, "https://github.com/erlang-lager/lager.git", {branch, master}}},
    {erlport, ".*", {git, "https://github.com/hdima/erlport.git", {branch, master}}},
    {covertool, "", {git, "https://github.com/idubrov/covertool.git", {branch, master}}},
    {meck, "", {git, "https://github.com/eproxus/meck.git", {branch, master}}},
    {erlastic_search, "", {git, "https://github.com/arthurnovak/erlastic_search.git", {branch, master}}},
    {uuid, "", {git, "https://github.com/avtobiff/erlang-uuid.git", {branch, master}}},
    {cowboy, "", {git, "https://github.com/ninenines/cowboy.git", {branch, master}}},
    {rfc3339, "", {git, "https://github.com/talentdeficit/rfc3339.git", {branch, master}}}
]}.

{erl_opts, [{parse_transform, lager_transform}]}.

{plugins, [rebar_covertool]}.

{pre_hooks, [{clean, "rm -rf ebin test/*.beam dialyzer.output .eunit erl_crash.dump logs/* *.log *.coverage.xml"}]}.
{post_hooks, [{'delete-deps', "rm -rf deps .dialyzer_deps_plt"}]}.

{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
{eunit_compile_opts, [{parse_transform, lager_transform}]}.
{ct_extra_params, "-ct_hooks cth_surefire -erl_args -config erl.config"}.

{cover_enabled, true}.
{cover_export_enabled, true}.
{cover_print_enabled, true}.
{covertool_eunit, {".eunit/cover.coverdata", "eunit.coverage.xml"}}.
{covertool_ct, {"ct.coverdata", "ct.coverage.xml"}}.
{covertool_prefix_len, 2}. % Optional: Use module prefix as (imaginary) package name
